*{
    box-sizing: border-box;
    margin: 0;
    
}

.header{
    background-image: url("image/jakat.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 180px;
    
}

.head-div{
    padding-top: 200px;
    padding-left: 200px;
}

.comm-h1{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

.comm-p{
    padding-right: 60%;
    font-size: 20px;
}

.media{
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
}

.comm-h2{
    font-size: 35px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.media-body{
    margin-right: 100px;
}

.media-section{
    margin-bottom: 200px;
}

iframe{
    border-radius: 5px;
}
.img1{
    height: 410px;
    width: 400px;
    border-radius: 5px;
}

.img2{
    margin-right: 80px;
}

.media2{
    margin-right: 10px;
}

#demo2{
    margin-right: 55%;
}

#demo3{
    margin-right: 20%;
}

.comm-p2{
    padding-left: 30%;
    padding-right: 30%;
}



.card-img{
    width: auto;
    display: inline;
}

.card-div{
    width: auto;
    display: inline;
}

.img-card{
    filter: invert(88%) sepia(26%) saturate(7267%) hue-rotate(20deg) brightness(112%) contrast(96%);
}

.card-desi{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 200px;
}

.bg{
    background-color: lightcyan;
}

.want-img{
    height: 350px;
    width: 340px;
    border-radius: 5px;
}

.img-card2{
    margin-left: 15%;
    margin-right: 15%;
}

.card-last{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
}

.ho:hover{
    background-color: darkslategrey;
    color: white;
}

.a-ho{
    text-decoration: underline;
    font-size: 18px;
}

footer{
    background-color: black;
    
}

footer>div>h3{
    font-family: 'Oleo Script', cursive;
    font-size: 30px;
}

.nav-div{
    background-color: rgba(7, 18, 7, 0.848);
    
   
}

.navbar-light .navbar-toggler{
    color: yellow;
    border-color: yellow;
    
}



.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: rgb(198, 118, 118);
    border: 1px solid white;
    border-radius: 0.25rem;
    
}

.navbar-nav{
    font-size: 18px;
}

.nav-link{
    color: white;
}

.navbar-light{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(234deg) brightness(101%) contrast(104%);
}

.nav-item>a:hover{
    background-color: darkslategrey;
    color: rgb(207, 253, 0);
    border-radius: 5px;
}

.navbar-nav{
    text-align: center;
}

